.section::-webkit-scrollbar,
.menulist-container::-webkit-scrollbar {
  display: none;
}
.section,
.menulist-container {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.25rem;
  background-color: #f0f0f0;
}
.menulist-container {
  width: 100%;
  height: 100%;
  padding: 4px;
}
.menulist-center {
  display: grid;
}
/*모바일 세로*/
@media screen and (max-width: 479.99px) {
  .menulist-center {
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    /* border: 1px solid red; */
  }
}
/*모바일 가로 & 태블릿 세로*/
@media screen and (min-width: 480px) {
  .menulist-center {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 4px;
    /**/
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}
/*태블릿 가로*/
@media screen and (min-width: 768px) {
  .menulist-center {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
/*노트북 & 태블릿 가로*/
@media screen and (min-width: 1024px) {
  .menulist-center {
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
    /**/
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(205px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  .menulist-center {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 5px;
    /**/
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  .menulist-center {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 7px;
    /**/
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}
