body.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
}

.modal-section {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  z-index: 999;
  overflow: hidden;
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 0.25rem;
  background-color: #fff;
}
.modal-item::-webkit-scrollbar,
.modal-info::-webkit-scrollbar {
  display: none;
}
.modal-item,
.modal-info {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.modal-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6px;
  overflow: auto;
}
.modal-menuItem {
  display: flex;
  overflow: hidden;
}
.single-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 1.25rem;
}
.modal-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-title h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.1rem;
}
.modal-title span {
  text-transform: capitalize;
}
.hot-iced {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
.hot-iced button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 5rem;
  cursor: pointer;
}

.order-hot {
  color: red;
  border: 2px solid red;
}
.order-iced {
  color: blue;
  border: 2px solid blue;
}
.order-hot:hover {
  background-color: red;
  color: #fff;
}
.order-iced:hover {
  background-color: blue;
  color: #fff;
}
.order-iced.active-iced {
  background-color: blue;
  color: #fff;
}
.order-hot.active-hot {
  background-color: red;
  color: #fff;
}
.modal-info {
  flex-grow: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 4px;
  transition: all 0.3s linear;
  overflow-y: auto;
}
.coffee-row {
  display: flex;
  align-items: center;
}
.coffee-row > h4 {
  display: flex;
  align-items: center;
  height: 100%;
}
.coffee-option {
  display: flex;
  align-items: center;
  height: 100%;
}
.coffee-option h4 {
  display: flex;
  align-items: center;
  height: 100%;
}
.coffee-option h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn-row {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  border: 0.25rem;
  background-color: #e0e0e0;
}
.btn-row .minus,
.btn-row .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #000;
}
.btn-row h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coffee-size {
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  border-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.coffee-size:hover {
  background-color: #000;
  color: #fff;
}
.active-size {
  background-color: black;
  color: #fff;
}
.modal-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.modal-price h3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.order-btn {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  /**/
  margin-bottom: 0.25rem;
}
.order-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.05rem;
  background-color: #e0e0e0;
  border-color: transparent;
  color: #000;
  border-radius: 2.5rem;
  cursor: pointer;
}
.order-close-btn:hover,
.order-select-btn:hover {
  background-color: black;
  color: #fff;
}
.order-select-btn:disabled {
  background-color: gray;
  color: darkgray;
  border: 2px solid darkgray;
  cursor: default;
}
.order-select-btn:disabled:hover {
  background-color: gray;
  color: darkgray;
}
/*모바일 세로*/
@media screen and (max-width: 479.99px) {
  .modal-section {
    max-width: 600px;
    width: 85vw;
    height: 85vh;
    padding: 0.75rem 0.5rem;
  }
  .modal-menuItem {
    flex: 0 0 140px;
    gap: 0.3px;
    padding: 0.3px;
    margin-bottom: 0.2rem;
  }
  .single-img {
    flex: 0 0 40%;
  }
  .modal-title h3 {
    padding: 2px;
    margin-bottom: 0.125rem;
    font-size: 0.95rem;
    text-align: center;
  }
  .modal-title span {
    font-size: 0.875rem;
  }
  .hot-iced {
    flex: 0 0 45px;
    margin-bottom: 0.2rem;
    padding: 5px 0;
  }
  .hot-iced button {
    width: 80px;
    margin: 0 14px;
    font-size: 0.9rem;
  }
  .coffee-row {
    flex: 0 0 60px;
    flex-direction: column;
    margin-bottom: 3px;
    border: none;
  }
  .coffee-row > h4 {
    flex: 0 0 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2px;
    /* font-size: 1rem; */
    /**/
    font-size: 0.875rem;
  }
  .coffee-option {
    flex: 0 0 30px;
    justify-content: center;
    width: 100%;
  }
  .coffee-option h4 {
    justify-content: center;
    /* font-size: 1rem; */
    /**/
    font-size: 0.875rem;
  }
  .coffee-option h5 {
    margin-left: 0.5rem;
    font-size: 0.785rem;
  }
  .btn-row {
    flex: 0 0 30px;
    width: 100%;
  }
  .btn-row .minus,
  .btn-row .plus {
    font-size: 1rem;
    font-size: 0.875rem;
    /* border: 1px solid red; */
  }
  .btn-row h3 {
    font-size: 1rem;
    font-size: 0.875rem;
    /* border: 1px solid red; */
  }
  .coffee-size {
    font-size: 0.9rem;
    /**/
    font-size: 0.8rem;
    /* border: 1px solid red; */
  }
  .modal-price {
    flex: 0 0 40px;
    margin: 2px 0;
  }
  .modal-price h3 {
    font-size: 1.1rem;
    /**/
    font-size: 1rem;
    /* border: 1px solid red; */
  }
  .order-btn {
    flex: 0 0 60px;
    padding: 0.3rem;
    /**/
    padding: 0.6rem 0;
    /* border: 1px solid red; */
  }
  .order-btn button {
    width: 110px;
    margin: 0 20px;
    font-size: 1rem;

    /**/
    margin: 0 16px;
    font-size: 0.875rem;
  }
}
/*모바일 가로 & 태블릿 세로*/
@media screen and (min-width: 480px) {
  .modal-section {
    max-width: 600px;
    width: 85vw;
    height: 85vh;
    padding: 0.75rem 0.5rem;
  }
  .modal-menuItem {
    flex: 0 0 150px;
    gap: 4px;
    padding: 4px;
    margin-bottom: 0.25rem;
  }
  .single-img {
    flex: 0 0 50%;
  }
  .modal-title h3 {
    padding: 2px;
    margin-bottom: 0.2rem;
    /* font-size: 1.125rem; */
    font-size: 1.1rem;
    font-size: 1.125rem;
    /* border: 1px solid red; */
  }
  .modal-title span {
    /* font-size: 0.875rem; */
    font-size: 0.95rem;
  }
  .hot-iced {
    flex: 0 0 45px;
    margin-bottom: 0.25rem;
    padding: 4px 0;
  }
  .hot-iced button {
    margin: 0 16px;
    width: 90px;
    font-size: 1.1rem;
    font-size: 1rem;
  }
  .coffee-row {
    flex: 0 0 80px;
    flex-direction: column;
    margin-bottom: 4px;
    border: none;
  }
  .coffee-row > h4 {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2px;
    font-size: 1.125rem;
    /**/
    font-size: 1rem;
  }
  .coffee-option {
    flex: 0 0 40px;
    justify-content: center;
    width: 100%;
  }
  .coffee-option h4 {
    justify-content: center;
    font-size: 1.125rem;
    /**/
    font-size: 1rem;
    /* border: 1px solid red; */
  }
  .coffee-option h5 {
    margin-left: 0.75rem;
    font-size: 0.85rem;
  }
  .btn-row {
    flex: 0 0 40px;
    width: 100%;
  }
  .btn-row .minus,
  .btn-row .plus {
    font-size: 1.125rem;
    /**/
    font-size: 1rem;
  }
  .btn-row h3 {
    /* font-size: 1.125rem; */
    font-size: 1rem;
    /* border: 1px solid red; */
  }
  .coffee-size {
    font-size: 1rem;

    /* border: 1px solid red; */
    font-size: 0.95rem;
  }
  .modal-price {
    flex: 0 0 50px;
    margin: 2px 0;
  }
  .modal-price h3 {
    font-size: 1.125rem;
    /* border: 1px solid red; */
    /* font-size: 1rem; */
  }
  .order-btn {
    flex: 0 0 60px;
    padding: 0.35rem;
    /**/
    flex: 0 0 62px;
    padding: 0.5rem 0;
  }
  .order-btn button {
    width: 110px;
    margin: 0 20px;
    font-size: 1.125rem;
    /**/
    font-size: 1.1rem;
  }
}
/*태블릿 가로*/
@media screen and (min-width: 768px) {
  .modal-section {
    max-width: 700px;
    width: 85vw;
    height: 85vh;
    padding: 1rem 0.75rem;
  }
  .modal-menuItem {
    flex: 0 0 175px;
    gap: 5px;
    margin-bottom: 0.45rem;
    padding: 5px;
  }
  .single-img {
    flex: 0 0 50%;
  }
  .modal-title h3 {
    padding: 3px;
    margin-bottom: 0.3rem;
    /* font-size: 1.3rem; */
    font-size: 1.25rem;
    font-size: 1.325rem;
  }
  .modal-title span {
    font-size: 1rem;
    font-size: 1.2rem;
  }
  .hot-iced {
    flex: 0 0 50px;
    margin-bottom: 0.45rem;
    padding: 3px;
  }
  .hot-iced button {
    width: 110px;
    margin: 0 20px;
    /* font-size: 1.2rem; */
    /**/
    width: 100px;
    font-size: 1.15rem;
    /* border: 1px solid red; */
  }
  .coffee-row {
    flex-direction: row;
  }
  .coffee-row {
    flex: 0 0 45px;
    flex-direction: row;
    padding-left: 0.4rem;
    margin-bottom: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .coffee-row > h4 {
    flex: 0 0 50%;
    justify-content: flex-start;
    padding-left: 0.5rem;
    font-size: 1.125rem;
  }
  .coffee-option {
    flex: 0 0 50%;
    justify-content: space-between;
  }
  .coffee-option h4 {
    flex: 1;
    justify-content: flex-start;
    margin-left: 0.5rem;
    font-size: 1.125rem;
  }
  .coffee-option h5 {
    margin-right: 1rem;
    /* font-size: 0.85rem; */
    font-size: 0.95rem;
  }
  .btn-row {
    flex: 1;
  }
  .btn-row .minus,
  .btn-row .plus {
    font-size: 1.125rem;
  }
  .btn-row h3 {
    font-size: 1.125rem;
  }
  .coffee-size {
    font-size: 1rem;
  }
  .modal-price {
    flex: 0 0 50px;
    margin: 4px 0;
  }
  .modal-price h3 {
    font-size: 1.3rem;
  }
  .order-btn {
    flex: 0 0 70px;
    padding: 0.5;
    /**/
    flex: 0 0 64px;
    padding: 0.5rem 0;
    /* border: 1px solid red; */
  }
  .order-btn button {
    width: 130px;
    margin: 0 25px;
    font-size: 1.3rem;
    /**/
    width: 135px;
    font-size: 1.25rem;
    font-size: 1.15rem;
  }
}
/*노트북 & 태블릿 가로*/
@media screen and (min-width: 1024px) {
  .modal-section {
    max-width: 800px;
    width: 85vw;
    height: 85vh;
    padding: 1.25rem 1rem;
  }
  .modal-menuItem {
    flex: 0 0 200px;
    gap: 8px;
    margin-bottom: 0.5rem;
    padding: 6px;
  }
  .single-img {
    flex: 0 0 45%;
  }
  .modal-title {
    flex: 1;
  }
  .modal-title h3 {
    padding: 3px;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    /**/
    font-size: 1.6rem;
    font-size: 1.425rem;
  }
  .modal-title span {
    font-size: 1.2rem;
    /**/
    font-size: 1.4rem;
    font-size: 1.25rem;
  }

  .hot-iced {
    flex: 0 0 55px;
    margin-bottom: 0.5rem;
    padding: 2px;
  }
  .hot-iced button {
    width: 130px;
    margin: 0 25px;
    font-size: 1.4rem;
    /**/
    width: 120px;
  }
  .coffee-row {
    flex: 0 0 50px;
    flex-direction: row;
    /* padding-left: 0.6rem; */
    padding: 0;

    margin-bottom: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /**/
    flex: 0 0 46px;
  }
  .coffee-row > h4 {
    flex: 0 0 50%;
    /* padding-left: 0.75rem; */
    font-size: 1.3rem;
    /* border: 1px solid red; */
    /**/
    font-size: 1.15rem;
  }
  .coffee-option {
    flex: 0 0 50%;
  }
  .coffee-option h4 {
    flex: 1;
    justify-content: flex-start;
    margin: 0;
    padding: 0.5rem;
    font-size: 1.3rem;
    /**/
    font-size: 1.15rem;
  }
  .coffee-option h5 {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .btn-row {
    flex: 1;
  }
  .btn-row .minus,
  .btn-row .plus {
    font-size: 1.3rem;
    /**/
    font-size: 1.15rem;
  }
  .btn-row h3 {
    /* font-size: 1.25rem; */
    font-size: 1.3rem;
    /**/
    font-size: 1.15rem;
  }
  .coffee-size {
    font-size: 1.125rem;
  }

  .modal-price {
    flex: 0 0 60px;
    margin: 5px 0;
  }
  .modal-price h3 {
    font-size: 1.45rem;
  }

  .order-btn {
    flex: 0 0 80px;
    padding: 0.65rem;

    /**/
    flex: 0 0 70px;
    flex: 0 0 66px;
    padding: 0.5rem 0;
  }
  .order-btn button {
    width: 160px;
    margin: 0 30px;
    font-size: 1.5rem;
    /**/
    width: 150px;
    font-size: 1.4rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .modal-section {
    max-width: 900px;
    width: 85vw;
    height: 85vh;
    padding: 1.3rem 1.125rem;
  }
  .modal-menuItem {
    flex: 0 0 225px;
    gap: 10px;
    margin-bottom: 0.6rem;
    padding: 7px;
    /**/
    flex: 0 0 210px;
    gap: 9px;
  }
  .single-img {
    flex: 0 0 45%;
  }
  .modal-title {
    flex: 1;
  }
  .modal-title h3 {
    padding: 3px;
    margin-bottom: 0.55rem;
    font-size: 1.65rem;
    /**/
    font-size: 1.625rem;
    font-size: 1.525rem;
  }
  .modal-title span {
    font-size: 1.35rem;
    /**/
    font-size: 1.25rem;
    font-size: 1.425rem;
    font-size: 1.3rem;
  }
  .hot-iced {
    flex: 0 0 60px;
    margin-bottom: 0.55rem;
    padding: 2px;
  }
  .hot-iced button {
    width: 130px;
    margin: 0 35px;
    font-size: 1.55rem;
    /**/
    width: 125px;
    font-size: 1.45rem;
  }
  .coffee-row {
    flex: 0 0 60px;
    flex-direction: row;
    padding-left: 0.6rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /**/
    flex: 0 0 55px;
    flex: 0 0 47px;
  }
  .coffee-row > h4 {
    flex: 0 0 50%;
    font-size: 1.35rem;
    /**/
    font-size: 1.325rem;
    font-size: 1.175rem;
  }
  .coffee-option {
    flex: 0 0 50%;
  }
  .coffee-option h4 {
    flex: 1;
    justify-content: flex-start;

    font-size: 1.35rem;
    /**/
    font-size: 1.325rem;
    font-size: 1.175rem;
  }
  .coffee-option h5 {
    margin-right: 1rem;
    font-size: 1.1rem;
    /* border: 1px solid red; */
  }
  .btn-row {
    flex: 1;
  }
  .btn-row .minus,
  .btn-row .plus {
    font-size: 1.35rem;
    /**/
    font-size: 1.325rem;
    font-size: 1.175rem;
  }
  .btn-row h3 {
    font-size: 1.35em;
    /**/
    font-size: 1.325rem;
    font-size: 1.175rem;
  }
  .coffee-size {
    font-size: 1.15rem;
  }
  .modal-price {
    flex: 0 0 65px;
    margin: 5px 0;
  }
  .modal-price h3 {
    font-size: 1.7rem;
    /**/
    font-size: 1.5rem;
  }
  .order-btn {
    flex: 0 0 70px;
    padding: 0.5rem 0;
    /**/
    flex: 0 0 75px;
    flex: 0 0 68px;
  }
  .order-btn button {
    margin: 0 40px;
    width: 160px;
    font-size: 1.55rem;
    /**/
    font-size: 1.45rem;
    font-size: 1.3rem;
    width: 155px;
  }
}
@media screen and (min-width: 1440px) {
  .modal-section {
    max-width: 900px;
    width: 85vw;
    height: 85vh;
    padding: 1.35rem 1.25rem;
  }
  .modal-menuItem {
    flex: 0 0 250px;
    gap: 12px;
    margin-bottom: 0.65rem;
    padding: 8px;
    /* border: 1px solid red; */
    /**/
    flex: 0 0 220px;
    gap: 9px;
  }
  .single-img {
    flex: 0 0 45%;
  }
  .modal-title {
    flex: 1;
  }
  .modal-title h3 {
    padding: 4px;
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
    /**/
    font-size: 1.5rem;
    font-size: 1.65rem;
    font-size: 1.625rem;
  }
  .modal-title span {
    font-size: 1.6rem;
    /**/
    font-size: 1.3rem;
    font-size: 1.45rem;
    font-size: 1.35rem;
  }
  .hot-iced {
    flex: 0 0 65px;
    margin-bottom: 0.6rem;
    padding: 2px;
  }
  .hot-iced button {
    width: 140px;
    margin: 0 35px;
    font-size: 1.7rem;
    /**/
    width: 130px;
    font-size: 1.5rem;
  }
  .coffee-row {
    flex: 0 0 65px;
    flex-direction: row;
    padding-left: 0.7rem;
    margin-bottom: 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /**/
    flex: 0 0 60px;
    flex: 0 0 47px;
  }
  .coffee-row > h4 {
    flex: 0 0 50%;

    font-size: 1.4rem;
    /**/
    font-size: 1.35rem;
    font-size: 1.2rem;
  }
  .coffee-option {
    flex: 0 0 50%;
  }
  .coffee-option h4 {
    flex: 1;
    justify-content: flex-start;

    font-size: 1.4rem;
    /**/
    font-size: 1.35rem;
    font-size: 1.2rem;
  }
  .coffee-option h5 {
    margin-right: 1rem;
    font-size: 1.125rem;
  }
  .btn-row {
    flex: 1;
  }
  .btn-row .minus,
  .btn-row .plus {
    font-size: 1.4rem;
    /**/
    font-size: 1.35rem;
    font-size: 1.2rem;
  }
  .btn-row h3 {
    font-size: 1.4rem;
    /**/
    font-size: 1.35rem;
    font-size: 1.2rem;
  }
  .coffee-size {
    font-size: 1.425rem;
    /**/
    font-size: 1.175rem;
  }
  .modal-price {
    flex: 0 0 70px;
    margin: 6px 0;
  }
  .modal-price h3 {
    font-size: 1.85rem;
    /**/
    font-size: 1.55rem;
    font-size: 1.45rem;
  }
  .order-btn {
    flex: 0 0 90px;
    padding: 0.75rem 0;
    /**/
    flex: 0 0 80px;
    flex: 0 0 70px;
    padding: 0.5rem 0;
  }
  .order-btn button {
    margin: 0 40px;
    width: 170px;
    font-size: 1.65rem;
    /**/
    width: 160px;
    font-size: 1.5rem;
    font-size: 1.4rem;
  }
}
