.nav-container {
  display: flex;
  position: relative;
  height: 100%;
  background-color: #fff;
  padding: 0.15rem;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-center h2 {
  color: #333;
  font-weight: bold;
  letter-spacing: 0.25rem;
  text-transform: capitalize;
}
.cafe-logo {
  margin-right: 0.25rem;
  object-fit: cover;
}
.item-details {
  display: none;
}
.show-item-details {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
}
.show-item-details button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.show-item-details button:hover {
  background-color: #000;
  color: #fff;
}
/*모바일 세로*/
@media screen and (max-width: 479.99px) {
  .nav-container {
    justify-content: center;
    align-items: center;
    padding: 0.15rem;
  }
  .nav-center h2 {
    font-size: 1.785rem;
  }
  .cafe-logo {
    width: 70px;
    height: 70px;
  }
  .show-item-details {
    position: static;
    flex: 0 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    height: 42px;
    /**/
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
  .show-item-details button {
    font-size: 0.785rem;
    padding: 0.35rem;
    /* border: 1px solid blue; */
    /**/
    font-size: 0.8rem;
  }
}
/*모바일 가로 & 태블릿 세로*/
@media screen and (min-width: 480px) {
  .nav-container {
    padding: 0.25rem;
  }

  .nav-center h2 {
    /* font-size: 2.125rem; */
    font-size: 2rem;
  }

  .cafe-logo {
    width: 80px;
    height: 80px;
  }
  .show-item-details {
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    width: 46px;
    height: 46px;
    margin: 0;
  }

  .show-item-details button {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
    /* border: 1px solid blue; */
    /**/
    padding: 0.35rem;
  }
}
/*태블릿 가로*/
@media screen and (min-width: 768px) {
  .nav-container {
    padding: 0.35rem;
  }
  .nav-center h2 {
    font-size: 2.25rem;
  }
  .cafe-logo {
    width: 90px;
    height: 90px;
  }
  .show-item-details {
    right: 24px;
    width: 48px;
    height: 48px;
  }

  .show-item-details button {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    /**/
    padding: 0.3rem;
  }
}
/*노트북 & 태블릿 가로*/
@media screen and (min-width: 1024px) {
  .nav-container {
    padding: 0.35rem;
  }
  .nav-center h2 {
    font-size: 2.5rem;
  }
  .cafe-logo {
    width: 95px;
    height: 95px;
  }
  .show-item-details {
    right: 24px;
    width: 50px;
    height: 50px;
  }
  .show-item-details button {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1280px) {
  .nav-container {
    padding: 0.35rem;
  }
  .nav-center h2 {
    font-size: 2.5rem;
    /**/
    font-size: 2.65rem;
  }
  .cafe-logo {
    width: 100px;
    height: 100px;
  }
  .show-item-details {
    right: 24px;
    width: 54px;
    height: 54px;
  }
  .show-item-details button {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    font-size: 1.2rem;
    /**/
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1440px) {
  .nav-container {
    padding: 0.45rem;
  }
  .nav-center h2 {
    font-size: 3rem;
    /**/
    font-size: 2.75rem;
  }
  .cafe-logo {
    width: 110px;
    height: 110px;
  }
  .show-item-details {
    right: 24px;
    width: 56px;
    height: 56px;
  }
  .show-item-details button {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    font-size: 1.2rem;
  }
}
