.order-details {
  display: none;
}

.show-order-details {
  z-index: 999;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
}
.details-container > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.details-items-info::-webkit-scrollbar,
.detail-item-center::-webkit-scrollbar {
  display: none;
}
.details-items-info,
.detail-item-center {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.details-items-info {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  border-radius: 0.25rem;
  padding: 0.2rem;
}

.detail-item {
  display: grid;
  grid-auto-rows: 100%;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.detail-img {
  margin: auto;
  border-radius: 0.25rem;
}
.detail-item-info {
  display: flex;
  flex-direction: column;
  border: 0.25rem;
}
.detail-item-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-item-title > span {
  text-transform: capitalize;
}
.detail-item-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 0.25rem;
}
.detail-row {
  display: flex;
  padding: 2px;
  /* margin-bottom: 4px; */
  gap: 4px;
}
.detail-row h3 {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  /* border: 1px solid blue; */
}
.detail-row p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.order-detail-price {
  display: flex;
  flex-direction: column;
}
.order-detail-price h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex: 0 0 50%;
}

.order-detail-check {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}
.order-detail-check:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .show-order-details {
    max-width: 600px;
    width: 95vw;
    height: 95vh;
    padding: 0.75rem 0.5rem;
  }

  .details-container {
  }
  .details-container > h2 {
    flex: 0 0 60px;

    padding: 0.75rem 0.5rem;

    font-size: 1.7rem;

    margin-bottom: 0.5rem;
  }
  .details-items-info {
    grid-auto-rows: 150px;
    gap: 0.3rem;
  }
  .detail-item {
    grid-template-columns: 3fr 5fr;
  }
  .detail-img {
    width: 90%;
    height: 90%;
  }
  .detail-item-info {
    padding: 0.2rem;
  }
  .detail-item-title {
    flex: 0 0 50px;
    margin-bottom: 0.2rem;
  }

  .detail-item-title > h3 {
    font-size: 1.125rem;

    font-size: 1.2rem;
  }
  .detail-item-title > span {
    font-size: 0.875rem;
  }
  .detail-row h3 {
    height: 30px;

    font-size: 1rem;
  }
  .detail-row p {
    font-size: 0.875rem;
    flex: 0 0 40px;
    height: 30px;
  }
  .order-detail-price {
    flex: 0 0 120px;

    justify-content: space-between;
  }

  .order-detail-price h3 {
    font-size: 1.125rem;

    font-size: 1.2rem;
    flex: 1 0 auto;
  }

  .order-detail-price button {
    flex: 0 0 50px;
  }

  .order-detail-price h2 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 600.01px) and(max-width : 900px) {
  .show-order-details {
    max-width: 700px;
    width: 90vw;
    height: 90vh;

    padding: 1rem 0.75rem;
  }

  .details-container {
  }
  .details-container > h2 {
    flex: 0 0 70px;

    padding: 1rem 0.75rem;
    margin-bottom: 1.25rem;

    font-size: 1.9rem;
    margin-bottom: 0.75rem;
    font-size: 1.85rem;
  }
  .details-items-info {
    gap: 0.3rem;

    grid-auto-rows: 175px;
  }
  .detail-item {
    grid-template-columns: 1fr 1fr;
  }
  .detail-img {
    width: 90%;
    height: 90%;
  }
  .detail-item-info {
    padding: 0.4rem;
  }
  .detail-item-title {
    flex: 0 0 55px;
    margin-bottom: 0.3rem;
  }
  .detail-item-title > h3 {
    font-size: 1.25rem;

    font-size: 1.35rem;
  }
  .detail-item-title > span {
    font-size: 1rem;
  }
  .detail-row h3 {
    font-size: 1.25rem;
    height: 40px;

    height: 35px;
    font-size: 1.125rem;

    font-size: 1.15rem;
  }
  .detail-row p {
    font-size: 1rem;
    flex: 0 0 50px;
    height: 40px;

    height: 35px;
  }
  .order-detail-price {
    flex: 0 0 140px;

    justify-content: space-between;
  }

  .order-detail-price h3 {
    font-size: 1.25rem;

    font-size: 1.35rem;

    flex: 1 0 auto;
  }

  .order-detail-price button {
    flex: 0 0 55px;
  }

  .order-detail-price h2 {
    font-size: 1.35rem;
  }
}
@media screen and (min-width: 900.01px) {
  .show-order-details {
    max-width: 800px;
    width: 85vw;
    height: 85vh;
    padding: 1.25rem 1rem;
  }
  .details-container {
  }
  .details-container > h2 {
    flex: 0 0 80px;

    margin-bottom: 1.5rem;
    /**/
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 0.75rem;
  }
  .details-items-info {
    gap: 0.5rem;

    grid-auto-rows: 200px;
  }
  .detail-item {
    grid-template-columns: 1fr 1fr;

    padding: 0 1rem;
  }
  .detail-img {
    width: 95%;
    height: 95%;

    width: 85%;
  }
  .detail-item-info {
    padding: 0.5rem;
  }
  .detail-item-title {
    flex: 0 0 70px;
    margin-bottom: 0.5rem;

    flex: 0 0 60px;
    margin-bottom: 0.4rem;
  }
  .detail-item-title > h3 {
    font-size: 1.35rem;

    font-size: 1.5rem;
  }
  .detail-item-title > span {
    font-size: 1.125rem;
  }

  .detail-row h3 {
    font-size: 1.5rem;
    height: 50px;

    height: 40px;
    font-size: 1.3rem;

    font-size: 1.25rem;
  }
  .detail-row p {
    font-size: 1.125rem;
    flex: 0 0 60px;
    height: 50px;

    height: 40px;
  }
  .order-detail-price {
    flex: 0 0 160px;

    justify-content: space-between;
  }

  .order-detail-price h3 {
    font-size: 1.5rem;
    flex: 1 0 auto;
  }
  .order-detail-price button {
    flex: 0 0 60px;
  }
  .order-detail-price h2 {
    font-size: 1.5rem;
  }
}

/*모바일 세로*/
@media screen and (max-width: 479.99px) {
  .show-order-details {
    max-width: 600px;
    width: 85vw;
    height: 85vh;
    padding: 0.75rem 0.5rem;
  }

  .details-container {
  }
  .details-container > h2 {
    flex: 0 0 60px;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .details-items-info {
    grid-auto-rows: 150px;
    gap: 0.3rem;
  }
  .detail-item {
    grid-template-columns: 3fr 5fr;
  }
  .detail-img {
    width: 95%;
    height: 95%;
  }
  .detail-item-info {
    padding: 0.2rem;
  }
  .detail-item-title {
    flex: 0 0 50px;
    margin-bottom: 0.2rem;
  }

  .detail-item-title > h3 {
    font-size: 1rem;
  }
  .detail-item-title > span {
    font-size: 0.75rem;
  }
  .detail-row h3 {
    height: 30px;
    font-size: 0.875rem;
  }
  .detail-row p {
    font-size: 0.75rem;
    flex: 0 0 40px;
    height: 30px;
  }
  .order-detail-price {
    flex: 0 0 120px;
    justify-content: space-between;
  }

  .order-detail-price h3 {
    flex: 1 0 auto;
    font-size: 1.1rem;
  }

  .order-detail-price button {
    flex: 0 0 50px;
  }

  .order-detail-price h2 {
    font-size: 1.1rem;
    padding: 0.125rem;
  }
}
/*모바일 가로 & 태블릿 세로*/
@media screen and (min-width: 480px) {
  .show-order-details {
    max-width: 600px;
    width: 85vw;
    height: 85vh;
    padding: 0.75rem 0.5rem;
  }

  .details-container {
  }
  .details-container > h2 {
    flex: 0 0 60px;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .details-items-info {
    grid-auto-rows: 150px;
    gap: 0.3rem;
  }
  .detail-item {
    grid-template-columns: 1fr 1fr;
  }
  .detail-img {
    width: 95%;
    height: 95%;
  }
  .detail-item-info {
    padding: 0.2rem;
  }
  .detail-item-title {
    flex: 0 0 50px;
    margin-bottom: 0.2rem;
  }

  .detail-item-title > h3 {
    font-size: 1.125rem;
  }
  .detail-item-title > span {
    font-size: 0.875rem;
  }
  .detail-row h3 {
    height: 30px;
    font-size: 1rem;
  }
  .detail-row p {
    font-size: 0.875rem;
    flex: 0 0 40px;
    height: 30px;
  }
  .order-detail-price {
    flex: 0 0 120px;
    justify-content: space-between;
  }

  .order-detail-price h3 {
    flex: 1 0 auto;
    font-size: 1.2rem;
  }

  .order-detail-price button {
    flex: 0 0 60px;
  }

  .order-detail-price h2 {
    font-size: 1.3rem;
    padding: 0.125rem;
  }
}
/*태블릿 가로*/
@media screen and (min-width: 768px) {
  .show-order-details {
    max-width: 700px;
    width: 90vw;
    height: 90vh;
    padding: 1rem 0.75rem;
  }

  .details-container {
  }
  .details-container > h2 {
    flex: 0 0 70px;
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
  }
  .details-items-info {
    grid-auto-rows: 175px;
    gap: 0.3rem;
  }
  .detail-item {
    grid-template-columns: 1fr 1fr;
  }
  .detail-img {
    width: 95%;
    height: 95%;
  }
  .detail-item-info {
    padding: 0.4rem;
  }
  .detail-item-title {
    flex: 0 0 55px;
    margin-bottom: 0.3rem;
  }
  .detail-item-title > h3 {
    font-size: 1.3rem;
  }
  .detail-item-title > span {
    font-size: 1rem;
  }
  .detail-row h3 {
    height: 35px;
    font-size: 1.125rem;
  }
  .detail-row p {
    flex: 0 0 50px;
    height: 35px;
    font-size: 1rem;
  }
  .order-detail-price {
    flex: 0 0 140px;
    justify-content: space-between;
  }

  .order-detail-price h3 {
    flex: 1 0 auto;
    font-size: 1.35rem;
  }

  .order-detail-price button {
    flex: 0 0 70px;
  }

  .order-detail-price h2 {
    font-size: 1.5rem;
    padding: 0.2rem;
  }
}
/*노트북 & 태블릿 가로*/
@media screen and (min-width: 1024px) {
  .show-order-details {
    max-width: 800px;
    width: 85vw;
    height: 85vh;
    padding: 1.25rem 1rem;
  }

  .details-container > h2 {
    flex: 0 0 80px;
    margin-bottom: 0.75rem;
    padding: 1rem;
    font-size: 2rem;
  }
  .details-items-info {
    grid-auto-rows: 200px;
    gap: 0.5rem;
    /**/
    grid-auto-rows: 240px;
  }
  .detail-item {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }
  .detail-img {
    width: 90%;
    height: 95%;
  }
  .detail-item-info {
    padding: 0.5rem;
  }
  .detail-item-title {
    flex: 0 0 60px;
    margin-bottom: 0.4rem;
  }
  .detail-item-title > h3 {
    font-size: 1.5rem;
    /**/
    font-size: 1.4rem;
  }
  .detail-item-title > span {
    font-size: 1.125rem;
    /**/
    font-size: 1.2rem;
  }

  .detail-row h3 {
    height: 40px;
    font-size: 1.3rem;
    /**/
    font-size: 1.3rem;
  }
  .detail-row p {
    flex: 0 0 60px;
    height: 40px;
    font-size: 1.125rem;
    /**/
    font-size: 1.25rem;
  }
  .order-detail-price {
    flex: 0 0 160px;
    justify-content: space-between;
  }

  .order-detail-price h3 {
    flex: 1 0 auto;
    font-size: 1.4rem;
  }
  .order-detail-price button {
    flex: 0 0 80px;
    /**/
    flex: 0 0 70px;
    padding: 0.5rem 0;
  }
  .order-detail-price h2 {
    font-size: 1.75rem;
    padding: 0.25rem;
    /**/
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .show-order-details {
    max-width: 900px;
    width: 85vw;
    height: 85vh;
    padding: 1.3rem 1.125rem;
  }
  .details-container > h2 {
    flex: 0 0 90px;
    font-size: 2.15rem;
    padding: 1rem;
    margin-bottom: 0.8rem;
    /**/
    margin-bottom: 0.775rem;
  }
  .details-items-info {
    gap: 0.4rem;
    grid-auto-rows: 225px;
    /**/
    grid-auto-rows: 245px;
  }
  .detail-item {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }
  .detail-img {
    width: 90%;
    height: 95%;
  }
  .detail-item-info {
    padding: 0.5rem;
    /**/
    padding: 0.55rem;
  }
  .detail-item-title {
    flex: 0 0 65px;
    margin-bottom: 0.4rem;
    /**/
    flex: 0 0 63px;
  }
  .detail-item-title > h3 {
    font-size: 1.55rem;
    /**/
    font-size: 1.45rem;
  }
  .detail-item-title > span {
    font-size: 1.3rem;
    /**/
    font-size: 1.225rem;
  }
  .detail-row h3 {
    height: 45px;
    font-size: 1.3rem;
    /**/
    font-size: 1.325rem;
  }
  .detail-row p {
    flex: 0 0 65px;
    height: 45px;
    font-size: 1.3rem;
    /**/
    font-size: 1.275rem;
  }
  .order-detail-price {
    flex: 0 0 170px;
    justify-content: space-between;

    /**/
    flex: 0 0 165px;
  }
  .order-detail-price h3 {
    flex: 1 0 auto;
    font-size: 1.55rem;
    /**/
    font-size: 1.5rem;
  }
  .order-detail-price button {
    flex: 0 0 85px;
    /**/
    flex: 0 0 75px;
    padding: 0.525rem 0;
  }
  .order-detail-price h2 {
    font-size: 1.85rem;
    padding: 0.35rem;
    /**/
    padding: 0.275rem;
    font-size: 1.625rem;
  }
}

@media screen and (min-width: 1440px) {
  .show-order-details {
    max-width: 900px;
    width: 85vw;
    height: 85vh;
    padding: 1.35rem 1.25rem;
  }
  .details-container > h2 {
    flex: 0 0 100px;
    font-size: 2.3rem;
    padding: 1rem;
    margin-bottom: 0.8rem;
  }
  .details-items-info {
    gap: 0.4rem;
    grid-auto-rows: 250px;
  }
  .detail-item {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }
  .detail-img {
    width: 90%;
    height: 95%;
  }
  .detail-item-title {
    flex: 0 0 70px;
    margin-bottom: 0.45rem;
    /**/
    margin-bottom: 0.4rem;
  }
  .detail-item-title > h3 {
    font-size: 1.7rem;
    /**/
    font-size: 1.5rem;
  }
  .detail-item-title > span {
    font-size: 1.4rem;
    /**/
    font-size: 1.25rem;
  }
  .detail-row h3 {
    height: 50px;
    font-size: 1.35rem;
  }
  .detail-row p {
    flex: 0 0 70px;
    height: 50px;
    font-size: 1.4rem;
    /**/
    font-size: 1.3rem;
  }
  .order-detail-price {
    flex: 0 0 180px;
    justify-content: space-between;
    /**/
    flex: 0 0 170px;
  }
  .order-detail-price h3 {
    flex: 1 0 auto;
    font-size: 1.7rem;
    /**/
    font-size: 1.55rem;
  }
  .order-detail-price button {
    flex: 0 0 90px;
    /**/
    flex: 0 0 80px;
    padding: 0.55rem 0;
  }
  .order-detail-price h2 {
    font-size: 1.95rem;
    padding: 0.35rem;
    /**/
    padding: 0.3rem;
    font-size: 1.65rem;
  }
}
