.about-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  margin: 1rem 0;
}
.about-group {
  width: 100%;
  margin-bottom: 0.5rem;
}
.about-title {
  padding: 1.5rem 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.about-info {
  padding: 0.25rem 0.5rem;
  font-size: 1.05rem;
}
.about-group h3 {
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.about-group ul {
  padding: 0 0.25rem;
  font-size: 1.05rem;
}
.about-group ul li {
  padding: 0.25rem;
  margin: 0.25rem 0;
}

.about-projects li p:first-child {
  margin-bottom: 0.25rem;
  font-size: 1.05rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .about-container {
    margin: 0;
  }
  .about-title {
    margin: 0.25rem 0;
    font-size: 1.4rem;
  }
  .about-group ul {
    font-size: 1rem;
  }
  .about-info {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .about-title {
    font-size: 1.5rem;
  }
  .about-group ul {
    font-size: 1.05rem;
  }
  .about-info {
    font-size: 1.05rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-title {
    font-size: 1.6rem;
  }
  .about-group ul {
    font-size: 1.1rem;
  }
  .about-info {
    font-size: 1.1rem;
  }
}
