.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1rem 0.5rem;
  padding: 0.25rem;
  background-color: lightgray;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0.25rem;
  z-index: 1;
  /* border: 2px solid red; */
}

.hero-desc {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.25rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.desc-next,
.desc-prev {
  display: none;
}
@media screen and (max-width: 767px) {
  .description-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-desc {
    min-height: 120px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1280px) {
  .hero-desc {
    min-height: 110px;
    font-size: 1.2rem;
  }
}
