.portfolio-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* min-height: 400px; */
  /* border: 1px solid red; */
}

.portfolio-hero-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.portfolio-hero-titles {
  /* flex-basis: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  z-index: 1;
}
.portfolio-hero-titles h1 {
  font-size: 2rem;
}

.portfolio-hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.6;
}
.portfolio-hero-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  margin: 0.5rem;
  z-index: 1;
}
.portfolio-hero-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-hero-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 1rem;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 0.25rem;
}

.portfolio-hero-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;

  color: #000;
  background-color: rgba(211, 211, 211, 0.5);
  cursor: pointer;
}
.portfolio-hero-links a:hover {
  background-color: rgba(211, 211, 211, 0.8);
}

@media screen and (max-width: 767px) {
  .portfolio-hero-titles h1 {
    font-size: 2rem;
    /**/
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 479px) {
  .portfolio-hero-titles h1 {
    /* font-size: 1.9rem; */
    /**/
    font-size: 2.2rem;
  }
  .portfolio-hero-links ul {
    flex-direction: column;
  }
  .portfolio-hero-links li {
    /* width: 100%; */
  }
  .portfolio-hero-links a {
    padding: 1rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  /**/
  .portfolio-hero-section {
    /* min-height: 400px; */
  }
  .portfolio-hero-titles {
    flex-basis: 50%;
  }
  .portfolio-hero-titles h1 {
    font-size: 2.1rem;
    /**/
    font-size: 2.4rem;
  }

  .portfolio-hero-links {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  /**/
  .portfolio-hero-section {
    /* min-height: 450px; */
  }
  .portfolio-hero-titles h1 {
    font-size: 2.2rem;
    /**/
    font-size: 2.5rem;
  }
}
