.thumbnail-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.thumbnail-container {
  flex: 1;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.thumbnail-article {
  display: grid;
  grid-template-columns: 1fr 60px;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}
.thumbnail-image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.thumbnail-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.thumbnail-btn {
  background-color: transparent;
  border-color: transparent;
  background-color: #d1d1d1;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .thumbnail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, clamp(160px, 25vh, 240px));
    padding: 1rem;
  }

  .thumbnail-btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .thumbnail-container {
    display: flex;
    flex-direction: column;
  }
  .thumbnail-article {
    height: clamp(140px, 25vh, 220px);
  }
}
@media screen and (min-width: 768px) {
  .thumbnail-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
  }
  .thumbnail-article {
    grid-template-columns: 1fr 70px;
    height: clamp(160px, 28vh, 240px);
  }
  .thumbnail-btn {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1280px) {
  .thumbnail-article {
    grid-template-columns: 1fr 90px;
    height: clamp(180px, 28vh, 260px);
  }
  .thumbnail-btn {
    font-size: 1.25rem;
  }
}
