.project-section {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 0.25rem;
}
.project-container {
  padding: 0.25rem;
  margin: 0.25rem auto;
}
.project-container h1 {
  padding: 1.5rem 1rem;
  margin: 0.25rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.project-center {
  display: grid;
  gap: 0.75rem;
  padding: 0.25rem;
  overflow-y: hidden;
}

@media screen and (max-width: 479px) {
  .project-container h1 {
    font-size: 1.3rem;
  }
  .project-center {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 240px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .project-container h1 {
    font-size: 1.35rem;
  }
  .project-center {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }
}
@media screen and (min-width: 768px) {
  .project-container {
    width: 95vw;
  }
  .project-container h1 {
    font-size: 1.4rem;
  }
  .project-center {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 275px;
  }
}

@media screen and (min-width: 1024px) {
  .project-container {
    width: 95vw;
  }
  .project-container h1 {
    font-size: 1.5rem;
  }
  .project-center {
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-auto-rows: 290px;
  }
}
@media screen and (min-width: 1280px) {
  .project-container {
    width: 90vw;
  }
  .project-container h1 {
    font-size: 1.6rem;
  }
  .project-center {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 305px;
  }
}
@media screen and (min-width: 1440px) {
  .project-container {
    width: 90vw;
  }
  .project-container h1 {
    font-size: 1.7rem;
  }
  .project-center {
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-auto-rows: 320px;
  }
}
