.project-article {
  overflow-y: auto;
}
.project-skill-article {
  align-items: flex-start;
}
.skill-detail {
  padding: 0.25rem;
}
.skill-container {
  padding: 0.25rem;
}

.skill-header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0.25rem;
  font-size: 1.3rem;
}
.close-skill {
  position: absolute;
  right: 0;
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
}

.skill-body {
  margin: 0.25rem 0;
  padding: 0.25rem;
  font-weight: bold;
}
.skill-body p {
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1.05rem;
  text-transform: capitalize;
}
.skill-body p:first-child {
  padding-left: 0.25rem;
}
.skill-body h4 {
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  font-size: 1.1rem;
}

.skill-body ul {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}
.skill-body ul li {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.05rem;
}

.footer-close-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  background-color: transparent;
  border-color: transparent;
  color: #000;
  cursor: pointer;
}

hr {
  margin: 0.25rem 0;
  border-top: 2px solid #ddd;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .skill-container {
    padding: 0;
  }
  .skill-header {
    padding: 0.5rem 0.25rem;
    font-size: 1.2rem;
  }
  .skill-body {
    padding: 0.25rem;
  }

  .skill-body p {
    font-size: 1rem;
  }
  .skill-body h4 {
    font-size: 1.2rem;
  }
  .skill-body ul li {
    font-size: 1rem;
  }
  .close-skill,
  .footer-close-skill {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .skill-header {
    font-size: 1.3rem;
  }
  .skill-body p {
    font-size: 1.05rem;
  }
  .skill-body h4 {
    font-size: 1.3rem;
  }
  .skill-body ul li {
    font-size: 1.05rem;
  }
  .close-skill,
  .footer-close-skill {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .skill-header {
    font-size: 1.4rem;
  }
  .skill-body p {
    font-size: 1.1rem;
  }
  .skill-body h4 {
    font-size: 1.4rem;
  }
  .skill-body ul li {
    font-size: 1.1rem;
  }
  .close-skill,
  .footer-close-skill {
    font-size: 1.2rem;
  }
}
